/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
}

.header.wrapper {
    background-color: #1f2937;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    .nav-right.ul {
        display: flex;
        flex-direction: row;
        gap: 36px;
    }

