/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    color: white;
    font-size: 18px;

    display: flex;
    justify-content: center;
}

.header.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 12px;
    /* Allows header text to only take up 75% of the width of site! */
    width: 75vw;
}
    .header-logo {
        font-weight: 800;
    }

    .nav-right.ul {
        display: flex;
        flex-direction: row;

        gap: 36px;
    }

